練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家
Hints: 隨機產生數值

Noted:
1. 在Python pandas中我們可以使用 df.sort_index() 或 df.sort_values() 來排序資料框，預設的排序方式均為遞增排序（ascending=True）  
   ，如果希望調整為遞減排序，指定 ascending=False 即可。  
2. 建立亂數 np.random.randint(最小值,最大值,欲建立數量)  
3. 使用 pandas 套件的 DataFrame() 方法將一個 dictionary 的資料結構轉換成 data frame  
4. https://medium.com/@weilihmen/python-pandas-%E5%9F%BA%E6%9C%AC%E6%93%8D%E4%BD%9C%E6%95%99%E5%AD%B8-%E6%88%90%E7%B8%BE%E8%A1%A8-f6d0ec4f89

In [4]:
import numpy as np
import pandas as pd
import random

In [5]:
population = np.random.randint(0,100000000,7)
city=('Taipei','Wellington','Cairo','Ottawa','Berlin','Helsinki','Stockholm')
df_dict = {'City': city ,'Population': population}
df_dict = pd.DataFrame(df_dict)
df_dict

         City  Population
0      Taipei    64470487
1  Wellington     4628369
2       Cairo     3516266
3      Ottawa    33068813
4      Berlin    67600454
5    Helsinki    20397449
6   Stockholm    66675423

In [6]:
sorted(population,reverse=True)

[67600454, 66675423, 64470487, 33068813, 20397449, 4628369, 3516266]

In [7]:
df_dict.sort_values(by = 'Population',ascending=False)

         City  Population
4      Berlin    67600454
6   Stockholm    66675423
0      Taipei    64470487
3      Ottawa    33068813
5    Helsinki    20397449
1  Wellington     4628369
2       Cairo     3516266

In [9]:
print(df_dict['Population'].max())

67600454